.movies {
  box-sizing: border-box;
}

.movies__footer-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 425px) {
  .movies__search-wrapper {
    padding-bottom: 41px;
  }
}

@media screen and (min-width: 717px) {
  .movies__search-wrapper {
    padding-bottom: 29px;
  }
}

@media screen and (min-width: 769px) {

}
