.header {
  background-color: #202020;
  height: max-content;
}

.header__logo {
  cursor: pointer;
  transition: opacity 0.1s ease-in-out 0.1s;
  align-self: center;
}

.header__main-link {
  width: 38px;
  height: 38px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
}

@media only screen and (max-width: 320px) {
	.header__wrapper {
    width: 91.25%;
  }
 }

@media only screen and (min-width: 321px) and (max-width: 768px) {
	.header__wrapper {
    width: calc(92.85% - 5px);
  }
 }

@media only screen and (min-width: 769px) and (max-width: 1280px) {
	.header__wrapper {
    width: calc(84.37% + 60px);
  }
 }
 
@media only screen and (min-width: 1281px) and (max-width: 1920px) {
	.header__wrapper {
    width: 89.06%;
  }
 }

.header__wrapper_hidden {
  display: none;
}

.header__menu-wrapper {
  display: none;
}

.header__menu-link-wrapper {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 769px) {
  .header__menu-link-wrapper {
    display: block;
  }
}

.header__register {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  margin: 0 14px 0 0;
  padding: 0;
  align-self: center;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.header__register:focus {
  box-shadow: 0 0 0 1px lightblue;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-width: 54px;
  min-height: 26px;
  border: 0;
  border-radius: 3px;
  padding: 0;
  background-color: #2BE080;
  color: #000000;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.header__button_hidden {
  display: none;
}

.header__button-burger {
  background: url("../../images/burger-icon_white.svg") transparent no-repeat;
  border: none;
  cursor: pointer;
  background-size: 150%;
  background-position-x: center;
  background-position-y: 55%;
  width: 38px;
  height: 38px;
  padding: 0;
  margin-left: auto;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.header__register {
  margin-left: auto;
}

@media screen and (min-width: 769px) {
  .header__button-burger {
    display: none;
  }
}

.header__button:hover, .header__button-burger:hover,
.header__register:hover, .header__logo:hover {
  opacity: 0.7;
}