.checkbox__wrapper {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  flex-direction: column;
}

.checkbox__wrapper::after {
  content:'';
  border-bottom: 1px solid #424242;
  margin-top: 70px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 320px) {
	.checkbox__wrapper::after {
    width: 91.25%;
  }
 }

@media only screen and (min-width: 321px) and (max-width: 768px) {
	.checkbox__wrapper::after {
    width: calc(92.85% - 5px);
  }
 }

@media only screen and (min-width: 769px) and (max-width: 1280px) {
	.checkbox__wrapper::after {
    width: calc(84.37% + 60px);
  }
 }
 
@media only screen and (min-width: 1281px) {
	.checkbox__wrapper::after {
    width: 1140px;
  }
 }

.checkbox {
  position: relative;
  display: flex;
  width: max-content;
  height: 20px;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox__input {
  visibility: hidden;
}

.checkbox__switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #EBEBEB;
  transition: .4s ease-in-out;
}

.checkbox__switcher:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 20px;
  left: 6px;
  bottom: 30%;
  background-color: white;
  transition: .4s ease-in-out;
}

.checkbox__input:checked + .checkbox__switcher {
  background-color: #2BE080;
}

.checkbox__input:focus + .checkbox__switcher {
  box-shadow: 0 0 1px #2BE080;
}

.checkbox__input:checked + .checkbox__switcher:before {
  transform: translateX(26px);
  left: -4px;
}

.checkbox__title {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  margin-left: 20px;
  align-self: center;
  cursor: pointer;
}