.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #202020;
  display: flex;
  flex-direction: column;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #A0A0A0;
}

.footer__title::after {
  content:'';
  width: 100%;
  border-bottom: 1px solid #424242;
  margin-top: 20px;
  margin-bottom: 0;
  display: block;
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer__item {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: auto;
}

.footer__item-link {
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.footer__item-link:hover {
  opacity: 0.7;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #FFFFFF;
}

@media only screen and (max-width: 320px) {
	.footer__wrapper {
    width: 91.25%;
  }

  .footer__title {
    width: 91.25%;
    font-size: 12px;
    line-height: auto;
  }
 }

 @media only screen and (max-width: 600px) {
  .footer__wrapper {
    flex-direction:column-reverse;
  }
  .footer__links {
    flex-direction: column;
  }
  .footer__title {
    margin-top: 40px;
  }
  .footer__item {
    margin-left: 0;
    margin-top: 15px;
  }
  .footer__copyright {
    margin-top: 30px;
    color: #8B8B8B;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
	.footer__wrapper {
    width: calc(92.85% - 5px);
  }
  .footer__title {
    width: 91.25%;
  }
  .footer__title {
    margin-top: 50px;
  }
 }

@media only screen and (min-width: 769px) and (max-width: 1280px) {
	.footer__wrapper {
    width: calc(84.37% + 60px);
  }

  .footer__title {
    width: 91.25%;
  }
 }
 
@media only screen and (min-width: 1281px) {
	.footer__wrapper {
    width: 1140px;
  }

  .footer__title {
    width: 1140px;
  }
 }