.promo {
  margin: 0;
  padding: 0 14px;
  background-color: #202020;
  max-width: 1200px;
  margin: 0 auto;
}

.promo__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 570px;
  min-width: 320px;
  box-sizing: border-box;
  background-color: #272727;
  border-radius: 10px;
  border: 1px solid #000000;
}
 
.promo__title {
  margin: 0;
  align-self: center;
  font-weight: 400;
  font-size: 31px;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 566px) {
  .promo__title {
    font-size: 50px;
    line-height: 58px;
  }
}

@media screen and (min-width: 1080px) {
  .promo__title {
    padding: 0 200px;
  }
}
